MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/test?appName=Cluster0
JWT_SECRET=replace_with_a_long_random_string
ENCRYPTION_KEY=replace_with_another_long_random_string
PORT=5050
EMAIL_USER=your_gmail_address
EMAIL_PASS=your_gmail_app_password
PRODUCT_MANAGER_EMAIL=productmanager.bookworld@gmail.com
PRODUCT_MANAGER_PASSWORD=change_this_product_manager_password
SALES_MANAGER_EMAIL=salesmanager.bookworld@gmail.com
SALES_MANAGER_PASSWORD=change_this_sales_manager_password

DEMO_CUSTOMER_EMAIL=alice.demo@bookworld.test
DEMO_CUSTOMER_PASSWORD=DemoPass123!
DEMO_CUSTOMER_NAME=Alice Demo
DEMO_CUSTOMER_TAX_ID=1234567890
DEMO_CUSTOMER_ADDRESS=12 Demo Street, Istanbul
